---
---

h3, h4, h5, h6 {
  display: inline;
  padding: 0rem 0rem 0.25rem 0rem;
  background: linear-gradient(to top, var(--link-background-color) 0%, var(--link-background-color) 100%);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: background-size 0.25s ease;
}

h3.highlighted, h4.highlighted, h5.highlighted, h6.highlighted {
  background-size: 100% 100%;
}