<header class="nav-header">
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">
                {% if page.url == '/' %}
                    🏠
                {% elsif page.url contains '/posts/' or page.layout == 'post' %}
                    📝
                {% elsif page.url contains '/tags' %}
                    🏷️
                {% elsif page.url contains '/timeline' %}
                    📅
                {% else %}
                    🌹
                {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/posts/">Posts</a>
                    <a class="nav-link" href="/about">About</a>
                </div>
            </div>
        </nav>
    </div>
</header>
